@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="ShowAll"
       asp-controller="Student"
       class="btn btn-secondary">
        Go to Students
    </a>

    
</div>
