@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="ShowAll"
       asp-controller="Student"
       class="btn btn-secondary">
        Go to Students
    </a>


    <a asp-action="Index"
       asp-controller="Departement"
       class="btn btn-secondary">
        go to Departements
    </a>
</div>
