@using ProjectNumber1
@using ProjectNumber1.Models
@using ProjectNumber1.ViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
    <html>
    <head>
        <title></title>
    </head>
    <body>
        
    </body>
    </html>
